/* blue */

$blue-100: #f5f4fe;
$blue-200: #ececfd;
$blue-300: #d0d9f9;
$blue-400: #b5c4ee;
$blue-500: #97a6ce;
$blue-600: #7887ad;
$blue-700: #59678a;
$blue-800: #374564;

/* pink */

$pink-100: #000000;
$pink-200: #fbf6f6;
$pink-300: #f7e6e8;
$pink-400: #f0d0d0;
$pink-500: #eac9ca;
$pink-600: #ccadad;
$pink-700: #9d8081;
$pink-800: #7a5e61;

/* cream */

$cream-100: #000000;
$cream-200: #faf3e3;
$cream-300: #f9e9bf;
$cream-400: #f3d4aa;
$cream-500: #eebe97;
$cream-600: #ddae89;
$cream-700: #c69876;
$cream-800: #946c4c;

/* other */

$green: #71bd98;
$teal: #8ac7c7;
