@import './reset.scss';
@import './utils.scss';
@import './colors.scss';
@import './typo.scss';
@import './card.scss';
@import './Upload.scss';
@import './Header.scss';
@import './FormOrder.scss';
@import './SelectNumber.scss';

.illustration--container {
  min-width: 600px;
  background-color: $pink-500;
  padding: 1rem;
}
