* {
  margin: 0;
  padding: 0;
  font: inherit;
  background: transparent;
  color: inherit;
  border: none;
  outline: none;
  box-sizing: border-box;
}

a, button {
  cursor: pointer;
}

body {
  font-size: 16px;
  line-height: 1.5em;
  font-family: futura;
}

img {
  display: block;
}
