.SelectNumber-container {
  display: inline-block;

  background-color: white;
  border-radius: 3px;
  color: $blue-600;
  border: 1px solid rgba(0,0,0, 0.05);
  &:hover {
    border: 1px solid rgba(0,0,0, 0.1);
  }
}


svg {
  margin: 0;
  padding: 0;
}

.SelectNumber {
  display: flex;
  align-items: stretch;

  p {
    padding: 10px;
  }

  .ArrowUp, .ArrowDown {
    fill: $blue-600;
    width: 20px;
    &:hover {
      fill: $blue-700;
    }
  }

  .arrow-container {
    display: flex;
    flex-direction: column;

    i {
      flex: 1 1 auto;
      min-width: 0;
      min-height: 0;

      cursor: pointer;
      line-height: 0;
      &:first-child { padding: 8px 10px 2px 5px; }
      &:last-child { padding: 2px 10px 8px 5px; }
    }
  }
}
